<div class="container" style="margin-top: 100px;margin-left:450px;">
    <div class="col-md-6">
        <form class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">sign in</h1>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" style="margin-top: 20px;" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 20px;">Sign in</button>
        </form>
    </div>     
</div>