<div class="container" style="margin-top: 100px;margin-left:450px;">
    <div class="col-md-6">
            <h1 class="h3 mb-3 font-weight-normal">sign Up</h1>
            <input [(ngModel)]="email" type="text" class="form-control" placeholder="Email address" required autofocus>
            <input [(ngModel)]="password" type="password"  class="form-control" placeholder="Password" style="margin-top: 20px;" required>
            <button class="btn btn-lg btn-primary btn-block" style="margin-top: 20px;" (click)="signup()">Sign Up</button>
    </div>     
</div>